@import "bootstrap";

/* Logo */
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #999;
	text-transformation: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.field_with_errors {

	@extend .control-group;
	@extend .error;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: red;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    color: red;
  }
}
